{
    "token": "",
    "prefix": "m!",
    "presence": "m!help",
    "presence_activity": "playing",
    "website": "https://lblend.moe/",
    "github": "https://github.com/LBlend/MornBot",
    "mongodb_url": "",
    "openweathermap_api_key": "",
    "osu_api_key": "",
    "twitch_api_key": "",
    "ksoft_authentication": "",
    "reddit_client_id": "",
    "reddit_secret": "",
    "cog_check": {"386655733107785738":  ["Eval"] }
}
