{
    "token": "",
    "prefix": "m!",
    "presence": "m!help",
    "presenceActivity": "playing",
    "website": "https://lblend.moe/",
    "github": "https://github.com/LBlend",
    "mongodb_url": "" 
    "openweathermapApiKey": "",
    "osuApiKey": "",
    "twitchApiKey": "",
    "ksoftAuthentication": "",
    "redditId": "",
    "redditSecret": ""
}
